<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <h3 style="margin-top: 20px">List universite </h3>
    <hr>
    <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1,null)">Add new universite</button>
    <br><br>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>id Universite</th>
        <th>nom Universite</th>
        <th>adresse</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor='let p of listuniversites'>
          <td>{{p.numuniversite}}</td>
          <td>{{p.nomUniversite}}</td>
          <td>{{p.adresse}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<ng-template #mymodal1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new universite</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="universite-nomUniversite">nomUniversite</label>
        <div class="input-group">
          <input id="universite-nomUniversite" class="form-control" type="text" placeholder="nomUniversite"
                 [(ngModel)]="universite.nomUniversite"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="universite-adresse">adresse</label>
        <div class="input-group">
          <input id="universite-adresse" class="form-control" type="text" placeholder="adresse"
                 [(ngModel)]="universite.adresse"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="adduniversite(universite)"
            (click)="modal1.close('Save click')">Add
    </button>
    <button type="button" class="btn btn-danger" (click)="modal1.close('Save click')">Cancel</button>
  </div>
</ng-template>